
/* Colors used
#f8f9fa - light gray background from bootstrap 'lux'
#233E86 - lightest blue from palette suggested by paletton.com
#081D58 - chart blue based on RColorBrewer - used as basis for palette suggested by paletton.com
#662506 - dark brown based on RColorBrewer; h2 for section headings
*/
body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
/* Target the specific Bootstrap classes Shiny uses */
.row > .col-sm-4 {  /* Shiny's default sidebar wrapper */
    width: 240px !important;
    max-width: 240px !important;
    flex: 0 0 240px !important;
}

.row > .col-sm-8 {  /* Shiny's default main panel wrapper */
    width: calc(100% - 320px) !important;
    max-width: calc(100% - 300px) !important;
    flex: 0 0 calc(100% - 300px) !important;
    margin-left: 260 !important;
}

.sidebar {
      width: 240px; /* Set the desired width for the sidebar */
      /*float: left; *//* Float the sidebar to the left */
      height: 100vh; /* Full height to fill the viewport */
      background-color: #f8f9fa; /* Optional: background color */
      position: fixed; /* Fix the sidebar to the left side */
    }
.main {
      margin-left: 260px !important; /* Adjust this value to match the sidebar width */
      padding-top: 11px; /* sets top for tabs */
      overflow: auto;
      width: calc(100vw - 300px) !important; /* Adjust width to account for sidebar and padding */
      box-sizing: border-box;
    }

/* for titlePanel */
h2 {font-size: 2em;
    text-align: center;
    /* border: 1px solid black; */
    color: #f8f9fa;
    /* background-color: #233E86;*/
    /* beer */
    background-color: #CC4C02;
    padding:12px;
    margin-bottom: 0px;
}   
/* for regular section headings */
h2.section {font-size: 1.4em; 
    text-align: left;
    margin-top: 4px;
    margin-left: 4px;
    padding-left: 16px;
    padding-top: 7px;
    padding-bottom: 4px;
    width: 100%;
    /* border: 1px solid black; */
    /*color: #233E86;*/
    /* color: #662506; *//* shifting from blue to dark brown for beer */
    color:  #CC4C02; /* #EC7014;*/
    background-color: #f8f9fa;
    }
/* larger margin bottom - mainly for About pg */
h2.marginb {margin-bottom: 15px;
    margin-left: -10px;
    padding-left: 10px;
    }
/* for sub-title */
h3.subtitle {font-size: 1.2em;
    font-weight: normal;
    font-style: italic;
    text-transform: none;
    text-align: left;
    margin-top: 0em;
    margin-left: 0px;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 24px;
    width: 100%;
    /* border: 1px solid black; */
    /*color: #3D3D3D;*/
    color: #233E86;
    /*color: brewer.pal(9, "YlOrBr")[9]; */
    /*background-color: #f8f9fa;*/
    }
/* for sub-title in About page */
h3.subabout {font-size: 1.1em;
    margin-top: 0em;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 0px;
    padding-left: 0px;
    width: 100%;
    /* border: 1px solid black; */
    /*color: #3D3D3D;*/
    color: brewer.pal(9, "YlOrBr")[8];
    background-color: #f8f9fa;
    }
h4 {
    font-size: 0.8em;
    text-align: left;
    margin-top: 0em;
    margin-bottom: 2px;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-left: 0px;
    padding-left: 0px;
    width: 100%;
    }
p.about {
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 10px;
    padding-left: 10px;
    width: 100%;
    }
.about_tab {
    margin-left: 20px;
    padding-left: 10px;
    width: 80%;
    }
/* for notes */
/*.note {font-size: 0.9em;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 1em;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%; */
    /* border: 1px solid black; */
    /*color: #3D3;
    background-color: gray;
    } */
.note {
  text-align: center;
  background-color: #e9f2ff; /* Light blue background */
  border-left: 2px solid #233E86; /* Accent border matching the primary text color */
  border-right: 2px solid #233E86; /* Accent border matching the primary text color */
  color: #233E86; /* Text color consistent with your site's text */
  padding: 5px 0px 5px 0px;
  margin: -4px 0px 20px 0px;
  font-size: 0.9em;
  font-style: bold;
  border-radius: 4px; /* Slightly rounded corners */
}
.sb_note {
    font-size: 0.8em;
    /*font-style: italic; */
    font-weight: lighter;
}

/* for bold text - override bootstrap theme */
strong {color: #233E86;
        font-weight: bold !important;
        font-size: 1.1em;
        }

a.non-tab {color: #081D58;
    text-decoration: underline;
    }

ul.sidebar-nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
