
body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
.sidebar {
      width: 230px; /* Set the desired width for the sidebar 250 */
      float: left; /* Float the sidebar to the left */
      height: 100vh; /* Full height to fill the viewport */
      background-color: #f8f9fa; /* Optional: background color */
      position: fixed; /* Fix the sidebar to the left side */
      /* top: 10; *//* Ensure it starts from the top */
      /* bottom: 0; *//* Ensure it extends to the bottom */
    }
.main {
      margin-left: 260px; /* Adjust this value to match the sidebar width */
      padding: 20px;
      overflow: hidden;
    }
/* for title panel */
h2 {font-size: 2em;
    text-align: left;
}   
/* for regular section headings */
h2.section {font-size: 1.2em; 
    text-align: left;
    margin-top: 0em;
    padding-top: 0em;
    }
  
  
